{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
          <div class="col-md-6">
                <h1>Formulaire d'inscription</h1>
      
            {{ form_start(registrationForm) }}
                  {{ form_errors(registrationForm) }}
            <fieldset class="mb-3">
                <legend>Informations personnelles</legend>

                    {{ form_row(registrationForm.email ) }}
            </fieldset>
               <fieldset class="mb-3">
    
                  {{ form_row(registrationForm.plainPassword) }}
                </fieldset>

               <fieldset class="mb-3">
                    {{ form_row(registrationForm.nom_prenom) }}
                
            </fieldset>
                
                {{ form_row(registrationForm.RGPDConsent) }}

                <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
            {{ form_end(registrationForm) }}
           
        </div>
    </div>
    </section

{% endblock %}
