{% extends 'base.html.twig' %}

{% block title %}Films index{% endblock %}

{% block body %}
    <h1>Films index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_film</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date_sortie</th>
                <th>Duree</th>
                <th>Genre</th>
                <th>Realisateur</th>
                <th>Acteurs</th>
                <th>Affiche_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.dateSortie|date('d-m-Y') }}</td>
                <td>{{ film.duree }}</td>
                <td>{{ film.genre }}</td>
                <td>{{ film.realisateur }}</td>
                <td>{{ film.acteurs }}</td>
                <td>{{ film.afficheUrl }}</td>
                <td>
                    <a href="{{ path('app_admin_films_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('app_admin_films_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_films_new') }}">Create new</a>
{% endblock %}
