{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <h1>Films</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_film</th>
                <td>{{ film.idFilm }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Date_sortie</th>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ film.duree }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.genre }}</td>
            </tr>
            <tr>
                <th>Realisateur</th>
                <td>{{ film.realisateur }}</td>
            </tr>
            <tr>
                <th>Acteurs</th>
                <td>{{ film.acteurs }}</td>
            </tr>
            <tr>
                <th>Affiche_url</th>
                <td>{{ film.afficheUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_films_index') }}">back to list</a>

    <a href="{{ path('app_admin_films_edit', {'id_film': film.id_film}) }}">edit</a>

    {{ include('admin_films/_delete_form.html.twig') }}
{% endblock %}
