 {% extends 'base.html.twig' %}     
        {% block body %}
         <h1> Le utilisateurs </h1>
        <a href="{{ path('new_user') }}">Ajouter un utilisateur</a>
         <table>
         <thead>
         <tr>
               <th>Id</th>
                <th>Username</th>
                 <th>Mot de passe</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
        <tr>
             <td>   <a href="{{ path('user_affiche', {'id': utilisateur.id}) }}">
                    {{ utilisateur.id }}
                </a>
             </td>
             <td> {{ utilisateur.email}} </td>
             <td> {{ utilisateur.password}} </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endblock %}
